{% extends "base.html" %}
{% set event_sel_endpoint = request.endpoint %}
{% set event_sel_extra_args = {"user_id": user_id} %}
{% block header_extra %}
{% set user_last = data[-1][-1] %}
                <li class="pure-menu-item"><span class="pure-menu-info">{{ user_last.name }}</span></li>
{% endblock %}
{% block body %}
<div class="tracker-wrapper split-into-columns pure-g">
{% for part in data %}
    <div class="pure-u-1 pure-u-md-1 pure-u-xl-1-{{ column_count }} tracker-container">
        <div class="tracker-box">
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th class="tracker-column-hour">経過時間</th>
                        <th class="tracker-column-rank">順位</th>
                        <th>名</th>
                        <th class="tracker-column-score">スコア</th>
                    </tr>
                </thead>
                <tbody>
{% for player in part %}
                    <tr>
                        <td class="tracker-number">{{ player.step }}</td>
                        <td class="tracker-number">{{ player.rank }}</td>
                        <td class="tracker-player-name">{{ player.name }}</td>
                        <td class="tracker-number">{{ player.score }}</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
