<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>LLSIF Tracker - JP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{request.script_root}}/css/vendor/pure-min.css" type="text/css" />
        <link rel="stylesheet" href="{{request.script_root}}/css/site.css" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" type="text/css">
    </head>
    <body>
<div class="bg"></div>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
    </body>
</html>
