<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>スクフェス記録</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{request.script_root}}/css/vendor/pure-min.css" type="text/css" />
        <link rel="stylesheet" href="{{request.script_root}}/css/site.css" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" type="text/css">
    </head>
    <body>
<div class="bg"></div>
<!-- 壁紙クレジット: http://www.pixiv.net/member_illust.php?mode=medium&illust_id=50260087 -->
<div class="pure-g tracker-wrapper">
    <div class="pure-u-1 tracker-container">
        <div style="text-align: center;" class="tracker-box">べたです　ー　This is a beta.</div>
    </div>
</div>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.milkteafuzz.com/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "16"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript>
<!-- Piwik Image Tracker -->
<img src="https://stats.milkteafuzz.com/piwik.php?idsite=16&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
    </body>
</html>
