<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>LLSIF Tracker - EN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{request.script_root}}/css/vendor/pure-min.css" />
        <link rel="stylesheet" href="{{request.script_root}}/css/site.css" />
    </head>
    <body>
<div class="bg"></div>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.milkteafuzz.com/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "15"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript>
<!-- Piwik Image Tracker -->
<img src="https://stats.milkteafuzz.com/piwik.php?idsite=15&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
    </body>
</html>
