{% extends "base.html" %}
{% set event_sel_endpoint = request.endpoint %}
{% block body %}
<div class="tracker-cutoffs-wrapper pure-g">
    <div class="pure-u-1 tracker-container">
        <div class="tracker-box">
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th class="tracker-column-hour">Hour</th>
{% for tier in tiers %}
                        <th><a href="{{url_for('history_rank', event_id=event.event_id, rank=borders[tier])}}" class="tracker-link">{{ borders[tier] }}位</a></th>
{% endfor %}
                    </tr>
                </thead>
                <tbody>
{% for cutoff in data %}
                    <tr>
                        <td>{{cutoff.step}}</td>
{% for tier in tiers %}
                        <td>{{ cutoff["tier_%d" % tier] }}</td>
{% endfor %}
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
