{% extends "layout.html" %}
{% block header %}
<div class="tracker-wrapper pure-g">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-heading">SIF Tracker</li>
                <li class="pure-menu-item pure-menu-selected"><a href="{{url_for('list_rankings', event_id=config.CURRENT_EVENT_ID)}}" class="pure-menu-link">Rankings</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="event-menu" class="pure-menu-link">Cutoffs</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{{url_for('list_cutoffs', event_id=config.CURRENT_EVENT_ID)}}" class="pure-menu-link">Current</a></li>
                        <li class="pure-menu-item pure-menu-has-children">
                            <a href="#" class="pure-menu-link">Round 1</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">???</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">??</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-item-separator"></li>
                <li class="pure-menu-item">
                    <form class="pure-form" action="{{url_for('search')}}" method="GET">
                        <input type="search" name="q" placeholder="ユーザーを検索する" class="tracker-user-search">
                    </form>
                </li>
{% if page > 0 %}
                <li class="pure-menu-item"><a href="{{url_for('list_rankings', event_id=event_id, page=page-1)}}" class="pure-menu-link navigation-arrow">◀</a></li>
{% endif %}
                <li class="pure-menu-item"><a href="{{url_for('list_rankings', event_id=event_id, page=page+1)}}" class="pure-menu-link navigation-arrow">▶</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="tracker-wrapper split-into-columns pure-g">
{% for part in data %}
    <div class="pure-u-1 pure-u-md-1 pure-u-xl-1-4 tracker-container">
        <div class="tracker-box">
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th class="tracker-column-rank">Rank</th>
                        <th>Name</th>
                        <th class="tracker-column-score">Score</th>
                    </tr>
                </thead>
                <tbody>
{% for player in part %}
                    <tr>
                        <td class="tracker-number"><a href="{{url_for('history_rank', event_id=event_id, rank=player.rank)}}" class="tracker-link">{{player.rank}}</a></td>
                        <td class="tracker-player-name"><a href="{{url_for('history_user', event_id=event_id, user_id=player.user_id)}}" class="tracker-link">{{player.name}}</a></td>
                        <td class="tracker-number">{{player.score}}</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
