{% extends "layout.html" %}
{% block header %}
<div class="tracker-wrapper pure-g">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-heading">スクフェス記録</li>
                <li class="pure-menu-item"><a href="{{url_for('list_rankings', event_id=config.CURRENT_EVENT_ID)}}" class="pure-menu-link">ランキング</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover pure-menu-selected">
                    <a href="#" id="event-menu" class="pure-menu-link">段位</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="{{url_for('list_cutoffs', event_id=config.CURRENT_EVENT_ID)}}" class="pure-menu-link pure-menu-selected">現在のイベント</a></li>
                        <li class="pure-menu-item pure-menu-has-children">
                            <a href="#" class="pure-menu-link">Round 1</a>
                            <ul class="pure-menu-children">
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">???</a></li>
                                <li class="pure-menu-item"><a href="#" class="pure-menu-link">??</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="pure-menu-item pure-menu-item-separator"></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block body %}
<div class="tracker-cutoffs-wrapper pure-g">
    <div class="pure-u-1 tracker-container">
        <div class="tracker-box" style="text-align: center;">
            先24時間限定
        </div>
    </div>
    <div class="pure-u-1 tracker-container">
        <div class="tracker-box">
            <table class="tracker-table">
                <thead>
                    <tr>
                        <th class="tracker-column-hour">時</th>
                        <th>一番</th>
                        <th>{{config.CURRENT_EVENT_CUTOFF_MARKS[1]}}位</th>
                        <th>{{config.CURRENT_EVENT_CUTOFF_MARKS[2]}}位</th>
                        <th>{{config.CURRENT_EVENT_CUTOFF_MARKS[3]}}位</th>
                        <th>{{config.CURRENT_EVENT_CUTOFF_MARKS[4]}}位</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>記録⇨</td>
{% set data_first = data[0] %}
                        <td><a href="{{url_for('history_rank', event_id=event_id, rank=config.CURRENT_EVENT_CUTOFF_MARKS[0])}}" class="tracker-link">{{data_first.tier_0_name}}</a></td>
                        <td><a href="{{url_for('history_rank', event_id=event_id, rank=config.CURRENT_EVENT_CUTOFF_MARKS[1])}}" class="tracker-link">{{data_first.tier_1_name}}</a></td>
                        <td><a href="{{url_for('history_rank', event_id=event_id, rank=config.CURRENT_EVENT_CUTOFF_MARKS[2])}}" class="tracker-link">{{data_first.tier_2_name}}</a></td>
                        <td><a href="{{url_for('history_rank', event_id=event_id, rank=config.CURRENT_EVENT_CUTOFF_MARKS[3])}}" class="tracker-link">{{data_first.tier_3_name}}</a></td>
                        <td><a href="{{url_for('history_rank', event_id=event_id, rank=config.CURRENT_EVENT_CUTOFF_MARKS[4])}}" class="tracker-link">{{data_first.tier_4_name}}</a></td>
                    </tr>
{% for cutoff in data %}
                    <tr>
                        <td>{{cutoff.step}}</td>
                        <td>{{cutoff.tier_0}}</td>
                        <td>{{cutoff.tier_1}}</td>
                        <td>{{cutoff.tier_2}}</td>
                        <td>{{cutoff.tier_3}}</td>
                        <td>{{cutoff.tier_4}}</td>
                    </tr>
{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
